# dependencies
/node_modules

# testing
/coverage

# production
/dist
.env
.DS_Store
*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvsps
*.njsproj
*.sln
*.bak

/server/node_modules
/server/db